table {
    border-collapse: collapse;   
    color: blue;
    text-align: center;

}

table thead td, table thead th {
    padding: 1.2rem;
    text-align: center;
    font-size: 1.2rem;
}

table tbody td, table tbody th {
    padding: 0.5rem;
}

table td, table th {    
    border: 1px solid #dddddd; 
}

table tbody tr:nth-of-type(odd) {
    background-color: #fefefe;
}

table tbody tr:nth-of-type(even) {
    background-color: #eee;
}

table tbody tr:hover {
    background-color: khaki; 
    color: #B62733;
}

article{
    overflow-x: auto;
}
